<%= form_with model: [@test, @question] do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= form.label :body %>
    <%= form.text_field :body, id: :question_body %>
  </p><br>

  <p><%= form.submit %></p>
  <p><%= link_to 'Back', @test %></p>
<% end %>