<%= form_with model: [:admins, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name, id: :badge_name %>
  </p>

  <p>
    <%= form.label :image, 'Image path: public/badges/' %>
    <%= form.select :image, Dir.entries("public/badges")[2..-1], prompt: true  %>
  </p>

  <h2>Rule:</h2>
  <p>
    <%= form.radio_button :method, 'first_attempt'%>
    <%= form.label :method_first_attempt, "Given after successfully passing the test on the first attempt: 
        (Argument = test name)"  %>
  </p>
  <p>
    <%= form.radio_button :method, 'all_tests_from' %>
    <%= form.label :method_all_tests_from, "Given after successfully passing all tests from category: 
        (Argument = category name)" %>
  </p>
  <p>
    <%= form.radio_button :method, 'all_tests_of' %>
    <%= form.label :method_all_tests_of, "Given after successfully passing all tests of level: 
        (Argument = level)" %>
  </p>

  <p>
    <%= form.label :argument %>
    <%= form.text_field :argument, id: :badge_argument %>
  </p>

<p><%= form.submit %></p>
<% end %>
