<h1>All tests</h1>

<p>
  <%= link_to 'New test', new_test_path %>
</p>

<%= render 'shared/errors', resource: @test %>

<table class="table" id="tableTest">
  <tr>
    <th class="sort-by pointer">
      Title
      <%= octicon 'arrow-up', class: 'passed hide' %>
      <%= octicon 'arrow-down', class: 'passed hide' %>
    </th>
    <th>Level</th>
    <th>Category</th>
    <th>Questions</th>
    <th colspan="3">Actions</th>
  </tr>
  
  <%= render @tests %>
</table><br>

<%= link_to t('.gists'), admins_gists_path %>