<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name, id: :test_name %>
  </p>

  <p>
    <%= form.label :level %>
    <%= form.number_field :level, id: :test_level %>
  </p>

  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: true %>
  </p>

  <p><%= form.submit %></p>
<% end %>

<p><%= link_to 'Back', @test %></p>